
/*this is creating my accordion to allow different tabs and a drop down menu*/

.accordion {
  background-color:#6A5ACD ;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: centre;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #000066; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: ;
  overflow: hidden;
}




/* table{ 
	font-family:”Andale Mono”;
	font-size:100px;
	color:#EEE1ED;	
	background-color:#1F7887;
	
} */
	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #56144D;
	
}

img{

	width:100px;
	height:100px;
	float: left;
	/* display: block; */


}
/* Colour and style of the navigation bar */
.topnav {
  background-color: #000066;
  overflow: hidden;
  width: 100%;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: centre;
  color: #EEE1ED;
  text-align: center;
  padding: 1px 1px;
  /* text-decoration: none; */
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
} 

/* Add a color to the active/current link  
.topnav a.active {
  /* background-color: #56144D; 
  color: #56144D;
}*/

/* Meet the Team Style Section */
div {
		
		color:mintcream;
		font-weight: 100;
		font-family:”Andale Mono”;
		font-size:60px;
		text-align: center;
}

body {
			background-color:#56144D;
			

		}
		* {
			box-sizing: border-box;
		  }
		  
		  .img-container {
			float: left;
			width: 25%;
			padding: 5px;
		  }
		  
		  .clearfix::after {
			content: "";
			clear: both;
			display: table;
		  }

p 	{

	font-family: "Andale Mono";
	font-size: 20px;
	color: mintcream;
	text-align: centre;
	
}


.footer{ 	
	
		font-family:”Andale Mono”;
		font-weight:100;
		font-size:30px;
		color:#EEE1ED;
		background-color: #000066;
		text-align: centre;
		width: 100%;
		left:0;
		bottom:0;
		height:200px;
		position: fixed;
}

* {
	box-sizing: border-box;
}
  
  .box {
	float: left;
	width: 33.33%;
	padding: 5px;
}
  
